@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* test */

/* Custom scrollbar styling for WebKit browsers */
::-webkit-scrollbar {
  width: 50px;
}

::-webkit-scrollbar-track {
  background: #e90808;
  /* Track color from Tailwind */
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  /* Thumb color from Tailwind */
  border-radius: 10px;
}

/* Hover state */
::-webkit-scrollbar-thumb:hover {
  background-color: #7a2323;
}